@font-face {
    font-family: Kasei-Regular;
    src: url("../assets/KaiseiDecol-Regular.ttf");
}
@font-face {
    font-family: Kasei-Medium;
    src: url("../assets/KaiseiDecol-Medium.ttf");
}
@font-face {
    font-family: Kasei-Bold;
    src: url("../assets/KaiseiDecol-Bold.ttf");
}

body{
    background: url("../assets/pexels-siglinde-luise-13176978.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Kasei-Regular;
    color:white;
}
.myBtn{
    color:rgb(12, 159, 167) !important;
    border-color:rgb(12, 159, 167) !important;
    background-color: transparent !important;
}
.whiteText{
    color:white;
}

.card{
    border-color:rgb(12, 159, 167);
    border-width: 4px;
    background-color:rgba(244, 244, 244, 0.865);
    color:black;
}

.bold{
    font-family: Kasei-Bold;
    font-size: large;
}

.currentLocation{
    background-color:rgba(31, 31, 31, 0.607);
    border-radius:15px;
}

.fiveDays{
    background-color:rgb(12, 159, 167);
    border-radius:6px;
    height:50px;
    padding-top:10px;
   
}
.largerText{
    font-size:large;
    
}

.heartBtn{
    background-color: transparent;
    border-color: transparent;
}